{{ partial "header.html" .}}
<div id="main">
{{ partial "navbar.html" . }}
  <section class="section">
    <b-message :active.sync="isMessageShown" title="New page" :type="message.type" size="is-small">
            [[message.text]]
    </b-message>
    <form action="http://localhost:1414/a/save" method="post">
      <b-field label="Title"
          :type="haschanged(pageTitle, 'title') ? 'is-warning' : ''"
          :message="haschanged(pageTitle, 'title') ? 'Title updated, the URL of this page will change.' : ''">
          <b-input name="pageTitle" v-model="pageTitle"></b-input>
      </b-field>
      <b-field label="Category"
          :type="haschanged(pageCategory, 'category') ? 'is-warning' : ''"
          :message="haschanged(pageCategory, 'category') ? 'Category updated, this page indexing will change.' : ''">
          <b-input name="pageCategory" v-model="pageCategory" size="is-small"></b-input>
      </b-field>
      <textarea name="pageContent" id="editorarea"></textarea>
      <button type="submit" class="button is-light">Save</button>
      <b-loading :active.sync="isLoading"></b-loading>
      <input hidden name="fs" :value="(currentPage.fs !== undefined) ? currentPage.fs : ''"></input>
      <input hidden name="url" :value="(currentPage.url !== undefined) ? decodeURI(currentPage.url) : ''"></input>
      <input hidden name="isRenamed" :value="haschanged(pageTitle, 'title')"></input>
      <input hidden name="isCategoryChanged" :value="haschanged(pageCategory, 'category')"></input>
    </form>
  </section>
</div>

{{ partial "footer.editor.html" .}}
