{{ partial "header.html" .}}

<div id="main">
{{ partial "navbar.html" .}}
  <section class="section">
    <div class="container">
      <h1 class="title">
        Wiktor
      </h1>
      <p class="subtitle">
        Your personal wiki based on <strong>Hugo</strong>!
      </p>
      <h4 class="subtitle">Wiki pages</h4>
      <ul>
        {{ range where .Data.Pages "Section" "wiki" }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
        {{ end }}
    </ul>
    </div>
  </section>
</div>

{{ partial "footer.index.html" .}}
