<link rel="stylesheet" href="/css/easymde.min.css">
<script src="/js/easymde.min.js"></script>
<script src="/js/vue-resource.min.js" charset="utf-8"></script>
<script src="/js/editor.vue.js"></script>
</body>
</html>
