<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <base href="{{ .Site.BaseURL }}">
  <title> {{ .Title }} - Wiktor </title>
  <link rel="canonical" href="{{ .Permalink }}">

  <!-- https://unpkg.com/vue@2.5.16/dist/vue.js -->
  <script type="text/javascript" src="/js/vue.js"></script>

  <!--  https://unpkg.com/buefy@0.6.5/lib/buefy.min.css-->
  <link rel="stylesheet" href="/css/buefy.css">
  <!--  https://unpkg.com/buefy@0.6.5/lib/index.js-->
  <script type="text/javascript" src="/js/buefy.min.js"></script>

  <link rel="stylesheet" href="//cdn.materialdesignicons.com/2.0.46/css/materialdesignicons.min.css">

  <!--[if lt IE 9]>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
  <![endif]-->
</head>
<body>
