<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">Wiktor</h1>
    </a>
  </div>
  <div class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/category">
        Categories
      </a>
      <a class="navbar-item" href="/editor">
        Editor
      </a>
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <b-field>
            <b-input placeholder="Search..."
                type="search"
                icon="magnify">
            </b-input>
        </b-field>
      </div>
    </div>
  </div>
</nav>
