{{ partial "header.html" .}}

<div id="main">
  {{ partial "navbar.html" .}}
  <section class="section">
    <div class="content">
      <div class="container">
      {{ range $key, $value := .Site.Taxonomies.category }}
        <br>
        <h5>{{ $key }}</h5>
        <ul>
        {{ range $value.Pages }}
          <li><a href="{{ .URL }}">{{ .Title }}</a></li>
        {{ end }}
        </ul>
        <br>
      {{ end }}
      </div>
    </div>
  </section>
</div>

{{ partial "footer.index.html" .}}
