{{range .Site.Pages }}
  {{ $.Scratch.Add "categories" (slice .Params.category) }}
{{end}}

{{ range (uniq ($.Scratch.Get "categories")) }}
<h5>{{ . }}</h5>
  {{ range $.Site.RegularPages.RelatedTo ( keyVals "category" . ) }}
    <a href="{{ .URL }}">{{ .Title }}</a>
    <br>
  {{ end }}
<br>
{{ end }}

{{ $.Scratch.Delete "categories" }}
