{{ partial "header.html" . }}

<div id="main">
  {{ partial "navbar.html" . }}
  <section class="section">
    <nav class="breadcrumb is-right is-small" aria-label="breadcrumbs">
      <ul>
        <li><a href="{{ .Permalink }}">History</a></li>
        <li><a href="/editor/{{printf "#"}}{{.URL}}">Edit</a></li>
      </ul>
    </nav>
    <div class="container">
      <h1 class="title">
        {{ .Title }}
      </h1>
      <h5 class="subtitle is-5"><strong>Category:</strong> {{ .Params.category }}</h5>
      <hr>
      <div class="content">
        {{ .Content }}
      </div>
    </div>
  </section>
</div>

{{ partial "footer.single.html" . }}
